<h2>Edit Details Here</h2>
<form action="/locationInfo/<%=id%>?_method=PUT" method="POST">
    <label
    >Title of Artwork
    <input type="text" name="title" value="<%=locations.title%>" /> </label>
    <br>
    <br>
  <label
    >Current Location
    <input type="text" name="currentLocation" value="<%=locations.currentLocation%>" /> </label>
    <br>
    <br>
  <label
    >Next Location
    <input type="text" name="nextLocation" value="<%=locations.nextLocation%>"/> </label>
    <br>
    <br>
  <label
    >Move Date
    <input type="date" name="dateToMove" value="<%=locations.dateToMove%>" /> </label>
    <br>
    <br> 
  <label
    >Comments
    <input type="text" name="comments" value="<%=locations.comments%>" /> </label>
    <br>
    <br>
  <button type="submit">Edit Details</button>
</form>